// Top header
.top-header
  .container
    .inner-wrap
      if (settingWebsiteInfo.phone)
        .inner-item
          i.fa-solid.fa-phone
          | #{settingWebsiteInfo.phone}
      if (settingWebsiteInfo.email)
        .inner-item
          i.fa-solid.fa-envelope
          | #{settingWebsiteInfo.email}
      if (settingWebsiteInfo.address)
        .inner-item
          i.fa-solid.fa-building
          | #{settingWebsiteInfo.address}
// End Top header
// Header
header.header
  .container
    .inner-wrap
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      .inner-logo
        a(href="/")
          img(
            alt=settingWebsiteInfo.name
            src=settingWebsiteInfo.logo
            )
      nav.inner-menu
        ul
          li
            a.active(href="/") Trang Chủ
          each item in categoryList
            li
              a(href=`/category/${item.slug}`) #{item.name}
              if (item.children && item.children.length > 0)
                i.fa-solid.fa-caret-down
                ul
                  each itemChild in item.children
                    li
                      a(href=`/category/${itemChild.slug}`) #{itemChild.name}
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên Hệ
        .inner-overlay
      .inner-cart
        a(href="/cart")
          img(
            alt="Cart" 
            src="/assets/images/Icon.svg"
            )
          span(mini-cart) 0
// End Header