extends ../layouts/default.pug

block main 
  // Section 11
  .section-11(page-cart)
    .container
      .inner-wrap
        .inner-head
          .inner-title Giỏ Hàng
          a.inner-back(href="/")
            | Quay lại mua hàng
            i.fa-solid.fa-chevron-right
        .inner-tour-list(cart-list)
        .inner-coupon
          form#coupon-form(action="")
            input#coupon-input(
              placeholder="Nhập mã giảm giá" 
              type="text" 
              name="coupon"
              )
            button Dùng Mã
        .inner-list-price
          .inner-item
            .inner-label Tạm tính:
            .inner-price 
              span(cart-sub-total)
              span đ
          .inner-item
            .inner-label Giảm:
            .inner-price -0đ
          .inner-item
            .inner-label Tổng tiền:
            .inner-price-highlight
              span(cart-total) 0
              span đ
  // End Section 11
  // Section 12
  .section-12
    .container
      .inner-wrap
        form#order-form(action="")
          .inner-info
            .inner-title-main Thông Tin Khách Hàng
            .inner-list
              .inner-item
                input#full-name-input(
                  name="fullName" 
                  placeholder="Họ và tên" 
                  type="text"
                  )
              .inner-item
                input#phone-input(
                  name="phone" 
                  placeholder="Số điện thoại" 
                  type="text"
                  )
              .inner-item.inner-two-col
                textarea(
                  placeholder="Ghi chú" 
                  name="note"
                  )
          .inner-method
            .inner-title-main Chọn phương thức thanh toán
            .inner-list
              .inner-item
                input#methodMoney.custom-check(
                  checked="" 
                  value="money" 
                  name="method" 
                  type="radio"
                  )
                label.custom-icon-checkbox(for="methodMoney")
                  i.fa-solid.fa-check
                label.inner-label(for="methodMoney") Thanh toán tiền mặt khi đi tour
              .inner-item
                input#methodZaloPay.custom-check(
                  value="zalopay" 
                  name="method" 
                  type="radio"
                  )
                label.custom-icon-checkbox(for="methodZaloPay")
                  i.fa-solid.fa-check
                label.inner-label(for="methodZaloPay") ZaloPay
              .inner-item
                input#methodMomo.custom-check(
                  value="momo" 
                  name="method" 
                  type="radio"
                  )
                label.custom-icon-checkbox(for="methodMomo")
                  i.fa-solid.fa-check
                label.inner-label(for="methodMomo") Ví MoMo
              .inner-item
                input#methodBank.custom-check(
                  value="bank" 
                  name="method" 
                  type="radio"
                  )
                label.custom-icon-checkbox(for="methodBank")
                  i.fa-solid.fa-check
                label.inner-label(for="methodBank") Chuyển khoản ngân hàng
            .inner-info-bank
              .inner-title Thông tin chuyển khoản
              .inner-info-list
                div Ngân hàng: Vietcombank
                div Tên tài khoản: Le Van A
                div STK: 0123456789
          .inner-button
            button Đặt Tour
  // End Section 12