extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
  // Box Breadcumb
  +box-breadcrumb(breadcrumb)
  // End Box Breadcumb

  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          if (tourDetail.images.length > 0)
            .box-images(
              data-aos-delay="200" 
              data-aos-duration="800" 
              data-aos="fade-up"
              )
              .inner-image-main
                .swiper.swiper-box-images-main
                  .swiper-wrapper
                    each image in tourDetail.images
                      .swiper-slide
                        .inner-image
                          img(
                            alt="" 
                            src=image
                            )
              .inner-image-thumb
                .swiper.swiper-box-images-thumb
                  .swiper-wrapper
                    each image in tourDetail.images
                      .swiper-slide
                        .inner-image
                          img(
                            alt="" 
                            src=image
                            )
          .box-tour-info(
            data-aos-delay="400" 
            data-aos-duration="800" 
            data-aos="fade-up"
            )
            .inner-title Thông Tin Tour
            .inner-content !{tourDetail.information}
            .inner-read-more
              button.button-outline Xem tất cả
          .box-tour-schedule(
            data-aos-delay="600" 
            data-aos-duration="800" 
            data-aos="fade-up"
            )
            .inner-title-main Lịch Trình Tour
            .inner-list
              .inner-line
              each item in tourDetail.schedules
                .inner-item
                  .inner-dot
                  .inner-title #{item.title}
                  .inner-content !{item.description}
        .inner-right(
          data-aos-delay="450" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          .box-tour-detail
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src=tourDetail.avatar
                  )
              .inner-info
                .inner-title #{tourDetail.name}
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Mã Tour:
                b 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời gian:
                b  #{tourDetail.time}
              .inner-item
                i.fa-solid.fa-car
                span Phương tiện:
                b  #{tourDetail.vehicle}
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày khởi hành:
                b  #{tourDetail.departureDateFormat}
            .inner-group
              label.inner-label(for="inner-label") Khởi Hành Tại:
              select(
                id="inner-label" 
                name="locationFrom"
                )
                each item in tourDetail.locationsDetail
                  option(value=item.id) #{item.name}
            .inner-group
              label.inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  input(
                    value="1" 
                    min="0"
                    max=tourDetail.stockAdult
                    type="number"
                    input-quantity="stockAdult"
                    data-price=tourDetail.priceNewAdult
                    )
                  .inner-price
                    span(label-quantity="stockAdult") 1
                    span x
                    span.inner-highlight #{tourDetail.priceNewAdult.toLocaleString("vi-VN")}
                .inner-item
                  .inner-item-label Trẻ em:
                  input(
                    value="0" 
                    min="0"
                    max=tourDetail.stockChildren
                    type="number"
                    input-quantity="stockChildren"
                    data-price=tourDetail.priceNewChildren
                    )
                  .inner-price
                    span(label-quantity="stockChildren") 0
                    span x
                    span.inner-highlight #{tourDetail.priceNewChildren.toLocaleString("vi-VN")}
                .inner-item
                  .inner-item-label Em bé:
                  input(
                    value="0" 
                    min="0"
                    max=tourDetail.stockBaby
                    type="number"
                    input-quantity="stockBaby"
                    data-price=tourDetail.priceNewBaby
                    )
                  .inner-price
                    span(label-quantity="stockBaby") 0
                    span x
                    span.inner-highlight #{tourDetail.priceNewBaby.toLocaleString("vi-VN")}
            .inner-total
              .inner-label Tổng cộng:
              .inner-price 
                span(totalPrice) #{tourDetail.priceNewAdult.toLocaleString("vi-VN")} 
                span đ
            button.inner-button-add-cart(
              button-add-cart
              tour-id=tourDetail.id
            ) Thêm Vào Giỏ Hàng
  // End Section 10