extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug

block main 
  // Box Breadcumb
  +box-breadcrumb(breadcrumb)
  // End Box Breadcumb

  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          .box-filter
            .inner-head
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                .inner-label Điểm đi
                select(name="")
                  option(value="") -- Chọn điểm đi --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Điểm đến
                select(name="")
                  option(value="") -- Chọn điểm đến --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Ngày khởi hành
                input(
                  name="" 
                  type="date"
                  )
              .inner-group
                .inner-label Số Lượng Hành Khách
                .inner-input-list
                  .inner-input-item
                    .inner-label Người lớn:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Trẻ em:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Em bé:
                    input(
                      value="0" 
                      type="number"
                      )
              .inner-group
                .inner-label Mức giá
                select(name="")
                  option(value="") -- Chọn khoảng giá --
                  option(value="") Dưới 1tr
                  option(value="") Từ 1tr đến 3tr
                  option(value="") Từ 3tr đến 6tr
                  option(value="") Từ 6tr đến 10tr
                  option(value="") Trên 10tr
              .inner-group
                button.button-filter Áp Dụng
          .inner-overlay
        .inner-right
          .inner-info
            h2.inner-title #{categoryDetail.name}
            .inner-desc 
              | !{categoryDetail.description}
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp :
              button.inner-button
                | Giá tăng dần
                i.fa-solid.fa-square-caret-up
              button.inner-button
                | Giá giảm dần
                i.fa-solid.fa-square-caret-down
              button.inner-button.active
                | Khuyến mãi hot
                i.fa-solid.fa-tag
              button.inner-button
                | Xem nhiều
                i.fa-solid.fa-eye
            .inner-total
              | Tất cả:
              b #{tourList.length} Tour
            .inner-filter-mobile
              .inner-title Bộ lọc
              i.fa-solid.fa-filter
          if(tourList.length > 0)
            .inner-list-tour
              each item in tourList
                +product-item(item)
            .box-pagination
              button
                i.fa-solid.fa-angles-left
              button.active 1
              button 2
              button 3
              button 4
              button
                i.fa-solid.fa-angles-right
          else 
            p Không có Tour nào trong danh mục này.
  // Section 9