mixin pagination(skip, length, totalRecord, totalPage)
  .pagination 
    if (totalRecord > 0)
      span.inner-label 
        | Hiển thị #{skip + 1} - #{skip + length} của #{totalRecord}
      select(name="" class="inner-pagination" box-pagination)
        - for (let i = 1; i <= totalPage; i++)
          option(value=i) Trang #{i}
    else 
        | Không có bản ghi nào