extends ../layouts/default.pug 
include ../mixins/change-search.pug

block main 
  h2.box-title Tài khoản quản trị

  //- Section 4
  .section-4 
    .inner-item.inner-label 
      <i class="fa-solid fa-filter"></i> Bộ lọc
    .inner-item 
      select(name="") 
        option(value="") Trạng thái 
        option(value="") Hoạt động
        option(value="") Tạm dừng
    .inner-item
      input(type="date")
      span -
      input(type="date")
    .inner-item 
      select(name="") 
        option(value="") Nhóm quyền
        option(value="") Quản trị viên
        option(value="") Quản lý tour
        option(value="") Quản lý đơn hàng
    .inner-item.inner-reset
      <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    +change-search()
    .inner-button-create 
      a(href=`/${pathAdmin}/setting/account-admin/create`) + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6 
    .table-2 
      table 
        thead 
          tr 
            th 
              input(type="checkbox" class="custom-check" id="check1" check-all)
              label(for="check1" class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
            th Họ tên
            th.inner-center Ảnh đại diện
            th Email
            th Số điện thoại
            th Nhóm quyền
            th Chức vụ
            th Trạng thái
            th Hành động
        tbody
          each item in accountAdminList 
            tr 
              td 
                input(type="checkbox" class="custom-check" id=item.id check-item=item.id)
                label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              td #{item.fullName}
              td.inner-center
                img(src=item.avatar)
              td #{item.email}
              td #{item.phone}
              td #{item.roleName}
              td #{item.positionCompany}
              td
                if (item.status == "initial")
                  .badge.badge-orange Khởi tạo
                else if (item.status == "active")
                  .badge.badge-green Hoạt động
                else if (item.status == "inactive")
                  .badge.badge-red Tạm dừng
              td
                .inner-buttons
                  a(href=`/${pathAdmin}/setting/account-admin/edit/${item.id}` class="inner-edit") 
                    <i class="fa-solid fa-pen-to-square"></i> 
                  button(
                    class="inner-remove"
                    button-delete
                    data-api=`/${pathAdmin}/setting/account-admin/delete/${item.id}`
                  ) 
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Pagination
  include ../partials/pagination.pug
  //- End Pagination