extends ../layouts/default.pug 

block main 
  h2.box-title Quản lý danh mục

  //- Section 4
  .section-4 
    .inner-item.inner-label 
      <i class="fa-solid fa-filter"></i> Bộ lọc
    .inner-item 
      select(name="") 
        option(value="") Trạng thái 
        option(value="") Hoạt động
        option(value="") Tạm dừng
    .inner-item 
      select(name="") 
        option(value="") Người tạo
        option(value="") Lê Văn A
        option(value="") Lê Văn B
    .inner-item
      input(type="date")
      span -
      input(type="date")
    .inner-item.inner-reset
      <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    include ../partials/change-search.pug
    .inner-button-create 
      a(href=`/${pathAdmin}/category/create`) + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6 
    .table-2 
      table 
        thead 
          tr 
            th 
              input(type="checkbox" class="custom-check" id="check1")
              label(for="check1" class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
            th Tên danh mục
            th.inner-center Ảnh đại diện
            th.inner-center Vị trí
            th.inner-center Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody 
          each item in categoryList
            tr 
              td 
                input(type="checkbox" class="custom-check" id=item.id)
                label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              td #{item.name}
              td.inner-center
                img(src=item.avatar)
              td.inner-center #{item.position}
              td.inner-center
                if (item.status == "active")
                  .badge.badge-green Hoạt động
                else if (item.status == "inactive")
                  .badge.badge-red Dừng hoạt động
              td
                div #{item.createdByFullName}
                span #{item.createdAtFormat}
              td
                div #{item.updatedByFullName}
                span #{item.updatedAtFormat}
              td
                .inner-buttons
                  a(href=`/${pathAdmin}/category/edit/${item.id}` class="inner-edit") 
                    <i class="fa-solid fa-pen-to-square"></i> 
                  button(
                    class="inner-remove"
                    button-delete
                    data-api=`/${pathAdmin}/category/delete/${item.id}`
                  ) 
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Pagination
  include ../partials/pagination.pug
  //- End Pagination