extends ../layouts/default.pug 
include ../mixins/pagination.pug

block main 
  h2.box-title Thông tin liên hệ

  //- Section 4
  .section-4 
    .inner-item.inner-label 
      <i class="fa-solid fa-filter"></i> Bộ lọc
    .inner-item
      input(type="date" filter-start-date)
      span -
      input(type="date" filter-end-date)
    .inner-item.inner-reset(filter-reset)
      <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-change-status(
      change-multi
      data-api=`/${pathAdmin}/contact/change-multi`
    )
      .inner-item
        select(name="")
          option(value="") -- Hành động --
          option(value="delete") Xóa
      .inner-item 
        button Áp dụng
    .inner-search 
      <i class="fa-solid fa-magnifying-glass"></i>
      input(type="text" placeholder="Tìm kiếm..." search)
  //- End Section 5

  //- Section 6
  .section-6 
    .table-2 
      table 
        thead 
          tr 
            th 
              input(type="checkbox" class="custom-check" id="check1" check-all)
              label(for="check1" class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
            th Email
            th Ngày tạo
            th.inner-center Hành động
        tbody 
          each item in contactList
            tr 
              td 
                input(type="checkbox" class="custom-check" id=item.id check-item=item.id)
                label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              td 
                button(
                  copy-email
                  data-email=item.email
                )
                  <i class="fa-regular fa-clipboard"></i> 
                | #{item.email}
              td #{item.createdAtFormat}
              td.inner-center
                .inner-buttons
                  button(
                    class="inner-remove"
                    button-delete
                    data-api=`/${pathAdmin}/contact/delete/${item.id}`
                  ) 
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Pagination
  +pagination(pagination.skip, contactList.length, pagination.totalRecord, pagination.totalPage)
  //- End Pagination