extends ../layouts/default.pug 

block main 
  if (permissions && permissions.includes("dashboard-view"))
    h1.box-title Tổng quan

    //- Section 1
    .section-1
      .inner-item 
        .inner-icon 
          img(src="/admin/assets/images/Icon-user.svg")
        .inner-content 
          .inner-name Tài khoản quản trị
          .inner-number #{overview.totalAdmin.toLocaleString("vi-VN")}
      .inner-item 
        .inner-icon 
          img(src="/admin/assets/images/Icon-order.svg")
        .inner-content 
          .inner-name Đơn hàng
          .inner-number #{overview.totalOrder.toLocaleString("vi-VN")}
      .inner-item 
        .inner-icon 
          img(src="/admin/assets/images/Icon-chart.svg")
        .inner-content 
          .inner-name Doanh thu
          .inner-number #{overview.totalRevenue.toLocaleString("vi-VN")}đ
    //- End Section 1

    //- Section 2
    .section-2 
      .inner-head 
        h2.inner-title Biểu đồ doanh thu
        .inner-filter 
          input(type="month")
      .inner-chart
        canvas#chart1
    //- End Section 2

    //- Section 3
    .section-3 
      h2.inner-title Đơn hàng mới
      .table-1 
        table 
          thead 
            tr 
              th Mã
              th Thông tin khách
              th Danh sách tour
              th Thanh toán
              th Trạng thái
              th.inner-text-right Ngày đặt
          tbody 
            each orderDetail in orderNewList
              tr 
                td 
                  .inner-code #{orderDetail.code}
                td
                  div Họ tên: #{orderDetail.fullName}
                  div SĐT: #{orderDetail.phone}
                  div Ghi chú: #{orderDetail.note || "Không có"}
                td
                  .inner-list 
                    each item in orderDetail.items
                      .inner-item 
                        .inner-image 
                          img(src=item.avatar)
                        .inner-content 
                          .inner-name #{item.name}
                          .inner-quantity 
                              div Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                              div Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                              div Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                td
                  div Tạm tính: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
                  div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
                  //- div Mã giảm: TOURMUAHE2025
                  div Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
                  div PTTT: #{orderDetail.paymentMethodName}
                  div TTTT: #{orderDetail.paymentStatusName}
                td
                  div(class=`badge badge-${orderDetail.statusInfo.color}`) #{orderDetail.statusInfo.label}
                td.inner-text-right
                  div #{orderDetail.createdAtTime}
                  div #{orderDetail.createdAtDate}
    //- End Section 3
  
  else 
    h1(style="margin: 0;") Không có quyền truy cập