extends ../layouts/default.pug

block main 
  h2.box-title Đơn hàng: #{orderDetail.code}

  //- Section 8
  .section-8 
    form(action="" id="order-edit-form")
      .inner-group(style="display: none;")
        label(for="id" class="inner-label") Id
        input(type="text" id="id" name="id" value=orderDetail.id)
      .inner-group 
        label(for="fullName" class="inner-label") Tên khách hàng
        input(type="text" id="fullName" name="fullName" value=orderDetail.fullName)
      .inner-group 
        label(for="phone" class="inner-label") Số điện thoại
        input(type="text" id="phone" name="phone" value=orderDetail.phone)
      .inner-group.inner-two-col
        label(for="note" class="inner-label") Ghi chú
        textarea(name="note" id="note" textarea-mce) #{orderDetail.note}
      .inner-group 
        label(for="paymentMethod" class="inner-label") Phương thức thanh toán
        select(name="paymentMethod" id="paymentMethod")
          each item in paymentMethodList
            option(
              value=item.value
              selected=(item.value === orderDetail.paymentMethod)
            ) #{item.label}
      .inner-group 
        label(for="paymentStatus" class="inner-label") Trạng thái thanh toán
        select(name="paymentStatus" id="paymentStatus")
          each item in paymentStatusList
            option(
              value=item.value
              selected=(item.value === orderDetail.paymentStatus)
            ) #{item.label}
      .inner-group 
        label(for="status" class="inner-label") Trạng thái
        select(name="status" id="status")
          each item in statusList
            option(
              value=item.value
              selected=(item.value === orderDetail.status)
            ) #{item.label}
      .inner-group
        label(for="createAt" class="inner-label") Ngày đặt
        input(type="datetime-local" id="createAt" name="createAt" value=orderDetail.createdAtFormat readonly)
      .inner-group
        label(class="inner-label") Danh sách tour
        .inner-order-list 
          each item in orderDetail.items
            .inner-order-item 
              .inner-order-image 
                img(src=item.avatar)
              .inner-order-content 
                .inner-order-name #{item.name}
                .inner-order-text Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                .inner-order-text Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}0đ
                .inner-order-text Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                .inner-order-text Ngày khởi hành: #{item.departureDateFormat}
                .inner-order-text Khởi hành tại: #{item.cityName}
      .inner-group
        label(class="inner-label") Thanh toán
        .inner-order-total 
          div Tạm tính: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
          div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
          //- div Mã giảm: TOURMUAHE2025
          div Thanh toán:
            span #{orderDetail.total.toLocaleString("vi-VN")}đ
      .inner-button-2.inner-two-col 
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/order/list`) Quay lại danh sách 
  //- End Section 8