extends ../layouts/default.pug

block main 
  h2.box-title Thông tin cá nhân

  //- Section 8
  .section-8 
    form(action="" id="profile-edit-form")
      .inner-group 
        label(for="fullName" class="inner-label") Họ tên
        input(type="text" id="fullName" name="fullName" value=profileDetail.fullName)
      .inner-group 
        label(for="email" class="inner-label") Email
        input(type="email" id="email" name="email" value=profileDetail.email)
      .inner-group 
        label(for="phone" class="inner-label") Số điện thoại
        input(type="text" id="phone" name="phone" value=profileDetail.phone)
      .inner-group 
        label(for="positionCompany" class="inner-label") Chức vụ
        input(type="text" id="positionCompany" name="positionCompany" readonly value=profileDetail.positionCompany)
      .inner-group 
        label(for="role" class="inner-label") Nhóm quyền
        input(type="text" id="role" name="role" readonly value=profileDetail.roleName)
      .inner-group.inner-two-col
        label(for="avatar" class="inner-label") Ảnh đại diện
        div(image-default=profileDetail.avatar)
          input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
      .inner-button-2.inner-two-col 
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/profile/change-password`) Đổi mật khẩu
  //- End Section 8