extends ../layouts/default.pug

block main 
  h2.box-title Tạo nhóm quyền

  //- Section 8
  .section-8 
    form(action="" id="role-create-form")
      .inner-group 
        label(for="name" class="inner-label") Tên nhóm quyền
        input(type="text" id="name" name="name")
      .inner-group 
        label(for="description" class="inner-label") Mô tả ngắn
        input(type="text" id="description" name="description")
      .inner-group 
        label(class="inner-label") Phân quyền
        .inner-checkbox-list 
          each item in permissionList
            .inner-checkbox-item 
              input(type="checkbox" class="custom-check" id=item.value name="permissions" value=item.value)
              label(for=item.value class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              label(for=item.value class="inner-locations") #{item.label}
      .inner-button-2.inner-two-col 
        button Tạo mới
    .inner-back
      a(href=`/${pathAdmin}/setting/role/list`) Quay lại danh sách 
  //- End Section 8