extends ../layouts/default.pug 
include ../mixins/change-search.pug
include ../mixins/pagination.pug
include ../mixins/options.pug

block main 
  if (permissions && permissions.includes("tour-view"))
    h2.box-title Quản lý tour

    //- Section 4
    .section-4 
      .inner-item.inner-label 
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item 
        select(filter-status) 
          option(value="") Trạng thái 
          option(value="active") Hoạt động
          option(value="inactive") Tạm dừng
      .inner-item 
        select(filter-created-by) 
          option(value="") Người tạo
          each item in accountAdminList
            option(value=item.id) #{item.fullName}
      .inner-item
        input(type="date" filter-start-date)
        span -
        input(type="date" filter-end-date)
      .inner-item 
        select(filter-category) 
          option(value="") Danh mục
          +options(categoryList, 0)
      .inner-item 
          select(filter-price) 
            option(value="") Mức giá
            option(value="0-999999") Dưới 1tr
            option(value="1000000-3000000") Từ 1tr đến 3tr
            option(value="3000000-6000000") Từ 3tr đến 6tr
            option(value="6000000-10000000") Từ 6tr đến 10tr
            option(value="10000000-1000000000") Trên 10tr
      //- .inner-item.inner-reset(filter-reset)
      //-   <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
      +change-search(`/${pathAdmin}/tour/change-multi`)
      .inner-button-create 
        a(href=`/${pathAdmin}/tour/create`) + Tạo mới
      if (permissions && permissions.includes("tour-trash"))
        .inner-button-trash 
          a(href=`/${pathAdmin}/tour/trash`) Thùng rác
      .inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 5

    //- Section 6
    .section-6 
      .table-2 
        table 
          thead 
            tr 
              th 
                input(type="checkbox" class="custom-check" id="check1" check-all)
                label(for="check1" class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              th Tên tour
              th.inner-center Ảnh đại diện
              th Giá
              th Còn lại
              th.inner-center Vị trí
              th.inner-center Trạng thái
              th Tạo bởi
              th Cập nhật bởi
              th Hành động
          tbody 
            each item in tourList
              tr 
                td 
                  input(type="checkbox" class="custom-check" id=item.id check-item=item.id)
                  label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
                td.inner-name #{item.name}
                td.inner-center
                  img(src=item.avatar)
                td 
                  div NL: #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                  div TE: #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                  div EB: #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                td 
                  div NL: #{item.stockAdult}
                  div TE: #{item.stockChildren}
                  div EB: #{item.stockBaby}
                td.inner-center #{item.position}
                td.inner-center
                  if (item.status == "active")
                    .badge.badge-green Hoạt động
                  else if (item.status == "inactive")
                    .badge.badge-red Tạm dừng
                td
                  div #{item.createdByFullName}
                  span #{item.createdAtFormat}
                td
                  div #{item.updatedByFullName}
                  span #{item.updatedAtFormat}
                td
                  .inner-buttons
                    if (permissions && permissions.includes("tour-edit"))
                      a(href=`/${pathAdmin}/tour/edit/${item.id}` class="inner-edit") 
                        <i class="fa-solid fa-pen-to-square"></i> 
                    if (permissions && permissions.includes("tour-delete"))
                      button(
                        class="inner-remove"
                        button-delete
                        data-api=`/${pathAdmin}/tour/delete/${item.id}`
                      ) 
                        <i class="fa-solid fa-trash-can"></i>
    //- End Section 6

    //- Pagination
    +pagination(pagination.skip, tourList.length, pagination.totalRecord, pagination.totalPage)
    //- End Pagination