extends ../layouts/default.pug
include ../mixins/options.pug

block main 
  if (permissions && permissions.includes("tour-create"))
    h2.box-title Tạo tour

    //- Section 8
    .section-8 
      form(action="" id="tour-create-form")
        .inner-group 
          label(for="name" class="inner-label") Tên tour
          input(type="text" id="name" name="name")
        .inner-group 
          label(for="category" class="inner-label") Danh mục 
          select(name="category" id="category") 
            option(value="") -- Chọn danh mục --
            +options(categoryList, 0)
        .inner-group 
          label(for="position" class="inner-label") Vị trí
          input(type="text" id="position" name="position")
        .inner-group 
          label(for="status" class="inner-label") Trạng thái
          select(name="status" id="status") 
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng
        .inner-group.inner-two-col
          label(for="avatar" class="inner-label") Ảnh đại diện
          div(class="inner-upload-image")
            input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
        .inner-group.inner-two-col
          label(for="images" class="inner-label") Danh sách ảnh
          div(class="inner-upload-image-multi")
            input(type="file" multiple data-allow-reorder="true" 
              id="images" accept="image/*" filepond-image-multi name="images")
        .inner-group 
          label(class="inner-label") Giá cũ
          .inner-input-list 
            .inner-input-item 
              label(for="priceAdult" class="inner-label") Người lớn
              input(type="text" id="priceAdult" name="priceAdult" class="auto-money" autocomplete="off")
            .inner-input-item 
              label(for="priceChildren" class="inner-label") Trẻ em
              input(type="text" id="priceChildren" name="priceChildren" class="auto-money" autocomplete="off")
            .inner-input-item 
              label(for="priceBaby" class="inner-label") Em bé
              input(type="text" id="priceBaby" name="priceBaby" class="auto-money" autocomplete="off")
        .inner-group 
          label(class="inner-label") Giá mới
          .inner-input-list 
            .inner-input-item 
              label(for="priceNewAdult" class="inner-label") Người lớn
              input(type="text" id="priceNewAdult" name="priceNewAdult" class="auto-money" autocomplete="off")
            .inner-input-item 
              label(for="priceNewChildren" class="inner-label") Trẻ em
              input(type="text" id="priceNewChildren" name="priceNewChildren" class="auto-money" autocomplete="off")
            .inner-input-item 
              label(for="priceNewBaby" class="inner-label") Em bé
              input(type="text" id="priceNewBaby" name="priceNewBaby" class="auto-money" autocomplete="off")
        .inner-group 
          label(class="inner-label") Còn lại
          .inner-input-list 
            .inner-input-item 
              label(for="stockAdult" class="inner-label") Người lớn
              input(type="number" id="stockAdult" name="stockAdult")
            .inner-input-item 
              label(for="stockChildren" class="inner-label") Trẻ em
              input(type="number" id="stockChildren" name="stockChildren")
            .inner-input-item 
              label(for="stockBaby" class="inner-label") Em bé
              input(type="number" id="stockBaby" name="stockBaby")
        .inner-group 
          label(class="inner-label") Những địa điểm có tour
          .inner-checkbox-list 
            each item in cityList
              .inner-checkbox-item 
                input(type="checkbox" class="custom-check" id=item.id name="locations" value=item.id)
                label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
                label(for=item.id class="inner-locations") #{item.name}
        .inner-group 
          label(for="time" class="inner-label") Thời gian
          input(type="text" id="time" name="time")
        .inner-group 
          label(for="vehicle" class="inner-label") Phương tiện
          input(type="text" id="vehicle" name="vehicle")
        .inner-group 
          label(for="departureDate" class="inner-label") Ngày khởi hành
          input(type="date" id="departureDate" name="departureDate")
        .inner-group.inner-two-col
          label(for="information" class="inner-label") Thông tin tour
          textarea(name="information" id="information" textarea-mce) 
        .inner-group.inner-two-col
          label(class="inner-label") Lịch trình tour
          .inner-schedule-list 
            .inner-schedule-item 
              .inner-schedule-head 
                span.inner-schedule-button.inner-move <i class="fa-solid fa-up-down-left-right"></i>
                input(type="text")
                span.inner-schedule-button.inner-remove <i class="fa-solid fa-trash-can"></i>
                span.inner-schedule-button.inner-more <i class="fa-solid fa-chevron-down"></i>
              .inner-schedule-body 
                textarea(textarea-mce) 
          .inner-schedule-create + Thêm lich trình
        .inner-button-2.inner-two-col 
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/tour/list`) Quay lại danh sách 
    //- End Section 8