extends ../layouts/default.pug 
include ../mixins/pagination.pug

block main 
  h2.box-title Thùng rác tour

  //- Section 5
  .section-5
    .inner-change-status(
      change-multi
      data-api=`/${pathAdmin}/tour/change-multi`
    )
      .inner-item
        select(name="")
          option(value="") -- Hành động -- 
          option(value="undo") Khôi phục 
          option(value="destroy") Xóa vĩnh viễn
      .inner-item 
        button Áp dụng
    .inner-search 
      <i class="fa-solid fa-magnifying-glass"></i>
      input(type="text" placeholder="Tìm kiếm..." search)
  //- End Section 5

  //- Section 6
  .section-6 
    .table-2 
      table 
        thead 
          tr 
            th 
              input(type="checkbox" class="custom-check" id="check1" check-all)
              label(for="check1" class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
            th Tên tour
            th.inner-center Ảnh đại diện
            th Giá
            th Còn lại
            th.inner-center Vị trí
            th.inner-center Trạng thái
            th Tạo bởi
            th Xóa bởi
            th Hành động
        tbody 
          each item in tourList
            tr 
              td 
                input(type="checkbox" class="custom-check" id=item.id check-item=item.id)
                label(for=item.id class="custom-icon-checkbox") <i class="fa-solid fa-check"></i>
              td.inner-name #{item.name}
              td.inner-center
                img(src=item.avatar)
              td 
                div NL: #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                div TE: #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                div EB: #{item.priceNewBaby.toLocaleString("vi-VN")}đ
              td 
                div NL: #{item.stockAdult}
                div TE: #{item.stockChildren}
                div EB: #{item.stockBaby}
              td.inner-center #{item.position}
              td.inner-center
                if (item.status == "active")
                  .badge.badge-green Hoạt động
                else if (item.status == "inactive")
                  .badge.badge-red Tạm dừng
              td
                div #{item.createdByFullName}
                span #{item.createdAtFormat}
              td
                div #{item.deletedByFullName}
                span #{item.deletedAtFormat}
              td
                .inner-buttons
                  button(
                    class="inner-undo"
                    button-undo
                    data-api=`/${pathAdmin}/tour/undo/${item.id}`
                  ) 
                    <i class="fa-solid fa-rotate-left"></i>
                  button(
                    class="inner-remove"
                    button-destroy
                    data-api=`/${pathAdmin}/tour/destroy/${item.id}`
                  ) 
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Pagination
  +pagination(pagination.skip, tourList.length, pagination.totalRecord, pagination.totalPage)
  //- End Pagination