mixin box-breadcumb()
  .box-breadcumb
    .inner-image
      img(
        alt="" 
        src="/assets/images/city-river.jpg"
        )
    .inner-content
      .container
        h1.inner-title(
          data-aos-duration="800" 
          data-aos="fade-up"
          ) Tour Nước Ngoài
        nav.inner-links(
          data-aos-delay="400" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          ul
            li
              a(href="")
                | Trang Chủ
                i.fa-solid.fa-angles-right
            li
              a(href="") Tour Nước Ngoài